
.icon-wikipedia:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-spin6:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\e807'; } /* '' */
.icon-videocam:before { content: '\e805'; } /* '' */
.icon-search-2:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */